.btn{
    width: 125px;
    padding: 10px 0;
    border-radius: 20px;
    display: block;
    margin-top: 10px;
}

.btn-purple{
    @extend .btn;
    background-color: darkorchid;
    color: white;
}

.btn-pink{
    @extend .btn;
    background-color: palevioletred;
    color: white;
}

.btn-yellow{
    @extend .btn;
    background-color: palegoldenrod;
}